version: '3.8'

services:
  backend:
    build:
      context: ./graph-visualizer-backend
      dockerfile: Dockerfile
    container_name: graph-visualizer-backend
    ports:
      - "8080:8080"
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: ./graph-visualizer-frontend
      dockerfile: Dockerfile
    container_name: graph-visualizer-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge